<launch>
  <node pkg="positioning" type="odometry_pub" respawn="false" name="odometry_pub" output="screen">
    <rosparam file="$(find positioning)/param/cache_area.yaml" command="load"/>
    <rosparam file="$(find positioning)/param/configure.yaml" command="load"/>
  </node>
  <!-- tf publisher -->
  <!-- matrix (1, 0, 0, 0, -1, 0, 0, 0, -1) -->
  <node pkg="tf" type="static_transform_publisher" name="map_hik_broadcaster" args="0 2 4 1 0 0 0 map hik_camera 100" />
  <!-- do no transform -->
  <node pkg="tf" type="static_transform_publisher" name="odom_broadcaster" args="0 0 0 0 0 0 map robot_1/odom 100" />
  <!-- tag to base -->
  <node pkg="tf" type="static_transform_publisher" name="tag_base_broadcaster" args="0 0 0 1 0 0 0 tag_1 robot_1/base_link 100" />
</launch>
