<launch>
  <!-- launch hik camera -->
  <node pkg="camtoros" type="image_pub_node" respawn="false" name="image_pub" output="screen">
  </node>
  <!-- launch localization -->
  <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
  </include>
  <!-- publish odometry -->
  <node pkg="positioning" type="odometry_pub" respawn="false" name="odometry_pub" output="screen">
    <rosparam file="$(find positioning)/param/cache_area.yaml" command="load"/>
    <rosparam file="$(find positioning)/param/configure.yaml" command="load"/>
  </node>
  <!-- controller -->
  <include file="$(find pure_pursuit)/launch/pure_pursuit.launch"></include>
  <!-- waypoint loader -->
  <include file="$(find waypoint_loader)/launch/waypoint_loader.launch"></include>
  
  <!-- development interface -->
  <!--
  <node pkg="global_vision_position" type="planning" respawn="false" name="planning" output="screen">
  </node>
  -->
</launch>