<launch>

  <node pkg="global_vision_position" type="main" respawn="false" name="position_system" output="screen">
    <rosparam file="$(find global_vision_position)/param/cache_area.yaml" command="load"/>
    <rosparam file="$(find global_vision_position)/param/configure.yaml" command="load"/>
  </node>
  <!--
  <node pkg="global_vision_position" type="odometry_pub" respawn="false" name="odometry_pub" output="screen">
    <rosparam file="$(find global_vision_position)/param/cache_area.yaml" command="load"/>
    <rosparam file="$(find global_vision_position)/param/configure.yaml" command="load"/>
  </node>-->
  <!--
  <node pkg="global_vision_position" type="planning" respawn="false" name="planning" output="screen">
  </node>
  
  <node pkg="global_vision_position" type="control_sub" respawn="false" name="control_sub" output="screen">
  	<rosparam file="$(find global_vision_position)/param/configure.yaml" command="load"/>
  </node> 
  -->
</launch>