<launch>
  <node pkg="global_vision_position" type="main" respawn="false" name="position_system" output="screen">
    <rosparam file="$(find global_vision_position)/param/cache_area.yaml" command="load"/>
    <rosparam file="$(find global_vision_position)/param/configure.yaml" command="load"/>
  </node>
</launch>